body {
	line-height: 1.2;
    height: 100%;
    background: #ffffff url('../img/banner01.jpg') no-repeat center top;
    background-size: cover;
	font-family: "roboto-regular", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************
***********************************/
.content
{
	margin-top: 50px;
	color: #18793D;
}
.logo img
{
	display: inline-block;
}
.logo h2
{
	font-family: "roboto-regular", sans-serif;
	font-size: 34px;
    padding-top: 40px;
}
#countdown {
    text-align: center;
    margin:  110px 0px 69px;
    min-height: 104px;
}
#countdown > div {
    width: 100px;
    height: 100px;
    margin: 0px 1%;
    display: inline-block;
    font-size: 20px;
    line-height: 52px;
    position: relative;
    font-weight: 700;
    color: #18793D;
    border: 1px solid #8E793E;
    border-radius: 5px;
    margin-bottom: 10px;
}
#countdown > div > span
{
	display: block;
}
.input-group-addon {
    color: #18793D;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.sub-p
{
	font-size: 14px;
	padding: 5px 0px 15px;
}

.column
{
    float:left;
width:20%;
padding:20px
}

.row::after
{
    content:"";
    clear:both;
    display:table;

}

img
{border-radius: 50%
}

.figure
{
    display:block;
        float:left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
}

.figcaption
{
    display:block;
}

.social ul li
{
	display: inline-block;
	border: 1px solid #8E793E;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-right: 10px;
}
.section-padding
{
	padding: 60px;
}
.about-title h2
{
	font-size: 24px;
	font-family: "roboto-regular", sans-serif;
	padding-bottom: 10px;
}
.img
{
	margin-top: 30px;
}
.img i
{
	font-size: 44px;
}
.subcription-info 
{
    width: 40%;
    margin: 0 auto 50px;
}
.abt-hd
{
	font-size: 20px;
	font-weight: normal;
	padding: 10px 0px 15px;
}

.social a i
{
    color: #18793D;
    display: block;
    line-height: 48px;

}
.social a:hover
{
    text-decoration: none;
}


footer {
    padding: 30px;
    color: #fff;
    text-align: center;
    background-color: #8E793E;
}
.footer a
{
    color: #8E793E;
}
.credits {
    padding-top: 10px;
}


h2.subs-title  {
    font-family: "roboto-regular", sans-serif;
    font-size: 34px;
    padding: 30px 0px 20px;
}

body{
    overflow-x:hidden; 
}
}
@media (min-width: 20px) and (max-width: 500px) {
    .contact-title{
        padding: 15px;
}
.section-padding {
        padding: 60px 30px;
}

